<div class="grid_3">
    <div class="studentAccountTextDiv">
        <p class="studentAccountTextTitle">
            סטודנטים<br>
            בדיסקונט עושים<br>
            תואר בראש שקט<br>
        </p>
        <p class="studentAccountText">
            סטודנטים בדיסקונט זכאים לתנאים<br>
            מיוחדים, להטבות בלעדיות ולהלוואות<br>
            שניתן לממן בעזרתן את הלימודים וכמובן<br>
            ישנן הטבות כרטיס מפתח בכדי שגם<br>
            תהנו בתקופה הזו.<br>
        </p>
        <div>
            <button type="button" class="studentAccountTextBtn">לפתיחת חשבון סטודנט</button>
        </div>
    </div>
    <div class="studentAccountImgDiv">
        <img class="studentAccountImg" src="/assets/images/grid3/studentAccount.png" />
    </div>
</div>