<div class="grid_1">
    <div class="discountAppImgDiv">
        <img class="discountAppImage" src="/assets/images/discountApp.png" />
    </div>

    <div class="discountAppTextBox">
        <p class="textBoxGreenText">אפליקציית דיסקונט</p>
        <p class="textBoxLageText">
            מאפשרת לך שליטה<br>
            מלאה על החשבון שלך
        </p>
        <p class="textBoxNormalText">
            האפליקציה שכוללת את כל הפתרונות<br>
            המתקדמים לניהול החשבון מכל מקום
        </p>
    </div>
</div>