.grid_1{
    width: 1920px;
    height: 977px;
    margin: auto;
    display: inline-flex;
    direction: rtl;
}
.discountAppImage{
    height: 680px;
    width: 504px;
}
.discountAppImgDiv{
    display: inline-flex;
    margin-top: 121px;
    margin-right: 543px;
}
.discountAppTextBox{
    height: 361px;
    width: 484px;
    color: #414F62;
    font-family: Rubik;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 39px;
    text-align: right;
    margin-top: 500px;
    margin-right: 48px;
}
.textBoxGreenText{
    color: #41D372;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 3%;
}

.textBoxLageText{
    color: #414F62;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    margin-bottom: 3%;
}

.textBoxNormalText{
    margin: 0;
}
