<div class="myNavbar">

  <div class="burgerIconDiv">
    <div class="burgerIconLine"></div>
    <div class="burgerIconLine"></div>
    <div class="burgerIconLine"></div>
  </div>

  <div class="logoDiv">
    <img src="/assets/discont_logo/Shape.png" />
  </div>

  <div class="navbarTabs">
    <ul class="navbarList">
      <li><a class="personalBtn navLink" href="">פרטיים</a></li>
      <li><a class="businessBtn navLink" href="">עסקיים</a></li>
      <li><a class="personalBankingBtn navLink" href="">בנקאות פרטית</a></li>
    </ul>
  </div>

  <div class="createAccountDiv">
    <button class="createAccountBtn">פתיחת חשבון</button>
  </div>
  <div class="loginAccountDiv">
    <button class="loginAccountBtn">כניסה לחשבונך</button>
  </div>

</div>

<discount-app-grid></discount-app-grid>
<account-types></account-types>
<student-account></student-account>
<discount-magazin></discount-magazin>

<div class="footer">
  <div class="footerContentDiv">
    <div class="accountsTypesContent">
      <p class="footerTextBoxTitle">סוגי חשבונות</p>
      <p class="textBoxContent">
        לקוחות חדשים<br>
        צעירים בדיסקונט<br>
        חיילים ושירות לאומי<br>
        הלוואות לחיילים משוחררים<br>
        סטודנטים<br>
        הלוואות לסטודנטים<br>
        עורכי דין<br>
        עובדי הוראה<br>
        עובדי מדינה<br>
        רופאים<br>
        גמלאים<br>
      </p>
    </div>

    <div class="creditContent">
      <p class="footerTextBoxTitle">אשראי</p>
      <p class="textBoxContent">
        הלוואה מיידית<br>
        הלוואה לכל מטרה<br>
        הלוואות בדיסקונט<br>
        הלוואות במבצע<br>
        מחשבון הלוואה<br>
        משכנתאות בדיסקונט<br>
        מחשבון משכנתא<br>
        מדריך משכנתא<br>
        מסלולי משכנתא<br>
        מוקד שירות משכנתאות<br>
      </p>
    </div>

    <div class="savingsContent">
      <p class="footerTextBoxTitle">חיסכון והשקעות</p>
      <p class="textBoxContent">
        תוכניות חיסכון ופקדונות<br>
        פקדונות במבצע<br>
        פקדונות קלאסיים<br>
        פקדונות חכמים<br>
        חסכונות בהוראת קבע<br>
        חיסכון לכל ילד<br>
        שוק ההון<br>
        ייעוץ פנסיוני<br>
        מחשבון פנסיה<br>
        כלכלת ישראל - סקירה כלכלית<br>
        מועדי המסחר בבורסה<br>
      </p>
    </div>

    <div class="creditCardContent">
      <p class="footerTextBoxTitle">כרטיסי אשראי</p>
      <p class="textBoxContent">
        מפתח דיסקונט<br>
        הטבת חנייה<br>
        ויזה<br>
        דיינרס ו-Fly Card<br>
        כרטיס מפתח 2go<br>
        תוכניות אשראי<br>
        מידע כללי<br>
      </p>
    </div>

    <div class="familyContent">
      <p class="footerTextBoxTitle">משפחה</p>
      <p class="textBoxContent">
        אודות תכנית המשפחה<br>
        מוצרים מיוחדים למשפחה<br>
        חבילות לאירועים חשובים בחיים<br>
        חבילת חתונה<br>
        חבילת לידה<br>
        חבילת בר/ בת מצווה<br>
        חבילת מעבר דירה<br>
        משפחה והשכלה פיננסית<br>
      </p>
    </div>
  </div>
  <div class="footerIcons">
    <div class="discountIconDiv">
      <img class="discountIcon" src="/assets/images/discountFooterLogo.png" />
    </div>
    <div class="socialIconsDiv">
      <div class="iconDiv">
        <img src="/assets/images/twitterIcon.png" class="icon" />
      </div>
      <div class="iIconDiv">
        <img src="/assets/images/instagramIcon.png" class="icon" />
      </div>
      <div class="yIconDiv">
        <img src="/assets/images/youtubeIcon.png" class="yIcon" />
      </div>
      <div class="fIconDiv">
        <img src="/assets/images/facebookIcon.png" class="fIcon" />
      </div>
    </div>
  </div>
</div>