<div class="grid_2">

    <div class="accountTypesTitleDiv">
        <p class="accountTypesTitle">? מה החשבון שמתאים לי</p>
    </div>

    <div class="accountsCards">

        <div class="accountTypeCard">
            <div class="youngAccountImgDiv">
                <img class="youngAccountImg" src="/assets/images/grid2/youngAccount.png">
            </div>
            <div class="youngAccountTitleDiv">
                <p class="cardAccountLightText">חבילת הצטרפות</p>
                <p class="cardAccountLargeText">צעירים</p>
            </div>
            <div class="youngAccountInfoDiv">
                <p class="accountInfoText">לא משלמים עמלות עיקריות בחשבון!</p>
                <p class="accountInfoText"> מסגרת אשראי מוגדלת</p>
                <p class="accountInfoText"> הלוואות בתנאים ייחודיים</p>
            </div>
            <div class="youngCardAccountBtnDiv">
                <button type="button" class="cardAccountBtn">רוצה לשמוע עוד</button>
            </div>

        </div>

        <div class="accountTypeCard">
            <div class="familyAccountImgDiv">
                <img class="familyAccountImg" src="/assets/images/grid2/familyAccount.png">
            </div>
            <div class="familyAccountTitleDiv">
                <p class="cardAccountLightText">חבילת הצטרפות</p>
                <p class="cardAccountLargeText">משפחה</p>
            </div>
            <div class="familyAccountInfoDiv">
                <p class="accountInfoText">לא משלמים עמלות עיקריות בחשבון!</p>
                <p class="accountInfoText"> מסגרת אשראי מוגדלת</p>
                <p class="accountInfoText"> הלוואות בתנאים ייחודיים</p>
            </div>
            <div class="familyCardAccountBtnDiv">
                <button type="button" class="cardAccountBtn">רוצה לשמוע עוד</button>
            </div>
        </div>

        <div class="accountTypeCard">
            <div class="businessAccountImgDiv">
                <img class="businessAccountImg" src="/assets/images/grid2/businessAccount.png">
            </div>
            <div class="businessAccountTitleDiv">
                <p class="cardAccountLightText">חבילת הצטרפות</p>
                <p class="cardAccountLargeText">עסקים</p>
            </div>
            <div class="businessAccountInfoDiv">
                <p class="accountInfoText">לא משלמים עמלות עיקריות בחשבון!</p>
                <p class="accountInfoText"> מסגרת אשראי מוגדלת</p>
                <p class="accountInfoText"> הלוואות בתנאים ייחודיים</p>
            </div>
            <div class="businessCardAccountBtnDiv">
                <button type="button" class="cardAccountBtn">רוצה לשמוע עוד</button>
            </div>
        </div>

    </div>


</div>